@layer screens {
	.root {
		display: flex;
		flex-direction: column;
		gap: var(--space-6);
		min-block-size: 100%;
		padding: var(--space-6);
		scroll-margin-block-start: var(--space-4);

		&:focus {
			outline: none;
		}

		@media (width < 60rem) {
			min-block-size: 16rem;
		}

		@media (width >= 60rem) {
			contain: size;
		}
	}

	.placeholder {
		flex: 1;
		font: var(--type-body-lg);
		color: var(--color-text-tertiary);
	}

	.footer {
		display: flex;
		gap: var(--space-4);
		align-items: center;
		justify-content: flex-end;
		margin-block-start: auto;
	}

	.progress {
		display: inline-flex;
		gap: var(--space-2);
		align-items: center;
		margin-inline-end: auto;
		color: var(--color-text-tertiary);
	}
}
