@layer features {
	.root {
		display: flex;
		gap: var(--space-4);
		align-items: center;

		@media (width < 40rem) {
			gap: var(--space-2);
		}
	}

	.label {
		font: var(--type-body-lg);
		color: var(--color-text-tertiary);
		white-space: nowrap;

		@media (width < 40rem) {
			font: var(--type-body-md);
		}
	}

	.suffix {
		margin-inline-start: 0.3em;

		@media (width < 40rem) {
			display: none;
		}
	}

	.check {
		--icon-size: var(--icon-md);

		display: inline-flex;
		align-items: center;
		justify-content: center;
		inline-size: 1.75rem;
		block-size: 1.75rem;
		color: var(--color-success-graphic);
		background: var(--color-success-subtle);
		border-radius: var(--radius-full);
	}
}
