@layer screens {
	.root {
		display: grid;
		gap: var(--space-4);
		padding: 0;
		margin-block-start: var(--space-12);
		list-style: none;

		@media (width >= 48rem) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: var(--space-5);
		}
	}
}
